.block-openx img {
  width: 100%;
  height: auto;
}

#top-blocks .block-publizitatea {
    display: block;
    margin-bottom: 2px;
    float: left;
}
#top-blocks .block-publizitatea .content {
    background: url(../img/publizitatea_b.gif) no-repeat left;
    padding-left: 10px;
    height: auto;
}

#block-publizitatea-0 {
    width: 100%;
    max-width: 738px;
    height: auto;
    border: 1px solid #f5f5cc;
    margin-right: 4px;
}
#block-publizitatea-1 {
    width: 214px;
    height: 90px;
    border: 1px solid #f5f5cc;
}
.orrilapurra  a {width:300px; height: 250px;display: block;}
.orrilapurra {
    background: url(../img/publizitatea_h.gif) no-repeat right top;
    padding: 10px 0 0 0;
}
