@import "base.less";

/* Agenda */
#azala_agenda_izenburua_div {
    padding-left: 1em;
    background-image: url('../img/arrow_aiaraldea.png');
    background-position: left;
    background-repeat: no-repeat;
}
#azala_agenda_agenda {
    float: left;
}
#azala_agenda_agenda a {
    color: @dark_green;
    font-weight: bolder;
    text-decoration: none;
}
#azala_agenda_deialdiak {
    float: left;
}
#azala_agenda_deialdiak a {
    color: @dark_green;
    text-decoration: none;
}
#azala_agenda_adi {
    color: @dark_green;
    font-weight: bolder;
    text-align: right;
    border-bottom: #cccc00 solid 2px;
}

div.pane-orri-nagusiko-agenda > .pane-content {
    background-color: @pale_green;
    padding: 10px;
    border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    .deialdi-nabarmena {
        background-color: @green;
            margin: 0 -10px;
            padding: 0 10px 10px 10px;
        img {
            margin: 0 -10px;
            padding: 0 -10px;
        }
    }
}

div.view-agenda div.views-field-tid-1 {
    display: block;
    float: left;
    color: #2d3c01;
    margin-top: 0.2em;
}

div.view-agenda div.views-field-field-lekua-value {
    display: block;
    float: left;
    color: #969e80;
}
div.view-agenda div.views-field-field-lekua-value:after {
    content: ". ";
}

div.view-agenda div.views-field-title {
    display: block;
    color: #2d3c01;
    font-weight: bolder;
    margin-top: .2em;
}
div.view-agenda div.views-field-title a {
    color: #2d3c01;
    font-weight: bolder;
    margin-top: .2em;
}
div.view-agenda div.views-field-title:before {
    content: ":";
}

div.view-agenda div.views-field-tid {
    display: block;
    color: @dark_green;
    font-weight: bolder;
    border-bottom: @dark_green solid 1px;
    text-transform: uppercase;
    margin-top: .4em;
}

div.view-agenda div.views-field-field-noiz-value {
    display: block;
    color: #969e80;
}

div.view-agenda div.views-field-body {
    margin: 0 1em 1em 1em;
}
div.view-agenda div.views-field-body p {
    margin: 0.2em;
}

#mini-panel-agenda_alboko_barra div.view-proposamenak-list.view-display-id-block_1 {
    background-color: #e6e680;
    padding: 1em;
    border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
