@import "base.less"; 

#detail_albiste_erlazionatuak {
    .field-label {
        .label;
    }
    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        li {
            max-width: 300px;
            margin: 5px;
            image {
                width:100%;
            }
        }
    }
    a {
        text-decoration: none;
    }
}

.view-albisteak .views-row {
    padding-bottom: 0.6em;
    clear: both;
}

.view-albisteak.view-display-id-panel_pane_1 .views-row {
    padding-bottom: 2em;
    clear: both;
}
.view-albisteak .views-field-comment-count {
    text-align: right;
}
.view-albisteak .views-field-comment-count a {
    color: #969e80;
    font-weight: bolder;
    text-decoration : none;
    font-style: italic;
}

.view-albisteak .views-field-field-erlazionatuak-nid,
.view-albisteak .views-field-field-bideo-erlazionatuak-nid {
    color: #2d3c01;
    font-weight: bolder;
    padding-left: 2em;
    .field-item {
        font-family: "Exo", Verdana, serif;
        a {
            padding: .2em;
            display:block;
        }
        a:before { 
            margin-left: -20px;
            padding-right: 14px;
            display:inline-block;
            content: '❱❯❭‣';
        }
    }
}

.view-albisteak .views-field-field-embeddedimages-fid-1 {
    float: left;
}
.view-albisteak .views-field-field-embeddedimages-fid-1 img {
    margin: 5px 10px 5px 0;
}
.azala-albisteak-1gunea .views-field-field-embeddedimages-fid-1 img,
.azala-albisteak-elkarrizketak .views-field-field-embeddedimages-fid-1 img {
    display: block;
    // margin: 0px 0px 6px 0px;
}
.azala-albisteak-2gunea .views-field-body {
    padding-left: 190px;
    margin-top: 4px;
}

.view-albisteak .views-field-title a {
    color: #2d3c01;
    text-decoration: none;
}
.view-albisteak .views-field-body {
    color: #2d3c01;
}

#albiste_eranskin_mota {
    float:right;
    margin-top:-1.5em;
    color:@dark_gray;
    font-size:1.2em;
}

#albiste_iruzkin_zenbaketa {
    float: right;
    margin: .4em 0;
    padding: .3em 0;
    color:@dark_gray;
}

.view-display-id-estra_gunea_pane .zerrendak-izenburua {
    font-size: 36px;
} 
