@import "base.less"; 

#detail_albiste_meta {
    margin: 0 0 10px 0;
    .herria_datak {
        background-color: @pale_gray;
        color: @dark_green;
        margin: 0 0 5px 0;
        .clear;
        .herria {
            display: block;
            float: left;
            padding: 5px;
            margin-right: 5px;
            background-color: @dark_green;
            font-weight: bold;
            a {
                color: @white;                
            }
        }
        .eguneratze_data, .sortze_data {
            display: block;
            font-size: 85%;
            float:left;
            padding: 5px;
        }
        .eguneratze_data {
            float: right;
            .label:after {
                content: ":";
            }
        }
    }
    .egilea {
        font-size: 150%;
        font-weight: bold;
        img {margin-right: 5px;}
    }
}

#detail_albiste_content {
    .irudi_nagusia {
        margin-bottom: 5px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .deskripzioa {
            color: @dark_green;
            background-color: @pale_gray;
            padding: 5px;
        }
    }
    .irudi_txikiak {
        .irudi_txikia {
            display: inline-block;
        }
        .deskripzioa {
            display: none;
        }
    }
    .etiketak {
        margin: 10px 0;
        padding: 0px !important;
        .label {
            .label;
        }
        .field-label:after {
            content: ":";
        }
    }
    .field-label {
        .label;
    }
    .field-field-erantsi .field-items {
        margin: 5px 10px;
        a {
            text-decoration: none;
        }
    }
}

#detail_albiste_erlazionatuak {
    .field-label {
        .label;
    }
    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        li {
            max-width: 300px;
            margin: 5px;
            image {
                width:100%;
            }
        }
    }
    a {
        text-decoration: none;
    }
}

.view-albisteak .views-row {
    padding-bottom: 0.6em;
    clear: both;
}

.view-albisteak.view-display-id-panel_pane_1 .views-row {
    padding-bottom: 2em;
    clear: both;
}
.view-albisteak .views-field-comment-count {
    text-align: right;
}
.view-albisteak .views-field-comment-count a {
    color: #969e80;
    font-weight: bolder;
    text-decoration : none;
    font-style: italic;
}

.view-albisteak .views-field-field-bideo-erlazionatuak-nid {
    color: #2d3c01;
    font-weight: bolder;
    float: right;
}

.view-albisteak .views-field-field-erantsi-fid {
    color: #2d3c01;
    font-weight: bolder;
    float: right;
}

.view-albisteak .views-field-field-embeddedimages-fid {
    color: #2d3c01;
    font-weight: bolder;
    float: right;
}

.view-albisteak .views-field-field-embeddedimages-fid-1 {
    float: left;
}
.view-albisteak .views-field-field-embeddedimages-fid-1 img {
    margin: 5px 10px 5px 0;
}
.azala-albisteak-1gunea .views-field-field-embeddedimages-fid-1 img,
.azala-albisteak-elkarrizketak .views-field-field-embeddedimages-fid-1 img {
    display: block;
    // margin: 0px 0px 6px 0px;
}
.azala-albisteak-2gunea .views-field-body {
    padding-left: 190px;
    margin-top: 4px;
}

.view-albisteak .views-field-title a {
    color: #2d3c01;
    text-decoration: none;
}
.view-albisteak .views-field-body {
    color: #2d3c01;
}

#albiste_eranskin_mota {
    float:right;
    margin-top:-1.5em;
    color:@dark_gray;
    font-size:1.2em;
}

#albiste_iruzkin_zenbaketa {
    float: right;
    margin: .4em 0;
    padding: .3em 0;
    color:@dark_gray;
}

.view-display-id-estra_gunea_pane .zerrendak-izenburua {
    font-size: 36px;
} 
