@import "base.less"; 

/* Bideoak */
.pane-orri-nagusiko-bideoak,
.pane-orri-nagusiko-bideoak-1-1,
/*.pane-orri-nagusiko-bideoak-autumn-2011,*/
#mini-panel-orri_nagusiko_bideo_berriak div.panel-col-first div.inside {
    background-color: @green;
    padding: 10px;
    .rounded_border;
}

#mini-panel-orri_nagusiko_mult_geh .view-azken-bideoak-1-2 {
        background-color: @green;
        padding: 10px;
        .rounded_border;
}
.pane-orri-nagusiko-bideoak-a2011 {
    background-color: transparent;
    padding: 0px;
    
    .view-azken-bideoak-1-2.view-display-azken-bideoa {
        background-color: transparent;
        padding: 0 6px 6px 6px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 0px;
        -ms-border-radius: 0px;
        -khtml-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        .views-field-field-bideo-embed {
            margin-left: -6px;
            margin-right: -6px;
        }
    }
    
    .pane-content{
        background-color: @green;
        padding: 10px;
        .rounded_border;
    }
    .pane-content .pane-content {
        padding: 0px;
    }
}
.pane-orri-nagusiko-bideoak div.view-azken-bideoak.view-display-id-block_2,
.view-display-azken-bideoa,
#mini-panel-orri_nagusiko_bideo_berriak div.view-azken-bideoak.view-display-id-block_2 {
    background-color: @pale_gray;
    padding: 6px;
    margin-bottom: 10px;
    .rounded_border;
}

#azala_bideoak_izenburua a {
    float: left;
    color: @dark_green;
    font-weight: bolder;
    text-decoration: none;
}
#azala_bideoak_tv {
    color: @dark_green;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
}

.emvideo-video {
    border: black solid 2px;
    width: 425px;
}
/*
div.view-azken-bideoak.view-display-id-block_2 .views-field-field-bideo-embed {
    margin-bottom: .8em;
}
div.view-display-azken-bideoa .views-field-title,
div.view-azken-bideoak.view-display-id-block_2 .views-field-title {
    color: @dark_green;
    font-weight: bolder;
    display: inline;
}
div.view-display-azken-bideoa .views-field-title a,
div.view-azken-bideoak.view-display-id-block_2 .views-field-title a {
    color: @dark_green;
    text-decoration: none;
}

div.view-display-azken-bideoa .views-field-tid,
div.view-azken-bideoak.view-display-id-block_2 .views-field-tid {
    color: @dark_green;
    font-weight: bolder;
    display: inline;
    padding-left: 1.5em;
    .arrow_background;
}
div.view-display-azken-bideoa .views-field-tid:after,
div.view-display-azken-bideoa .views-field-title:after,
div.view-azken-bideoak.view-display-id-block_2 .views-field-tid:after,
div.view-azken-bideoak.view-display-id-block_2 .views-field-title:after {
    content: ".";
}

div.view-display-azken-bideoa .views-field-created,
div.view-azken-bideoak.view-display-id-block_2 .views-field-created {
    color: @dark_green;
    font-weight: bolder;
    display: inline;
}

*/div.view-display-azken-bideoa .views-field-comment-count,
div.view-azken-bideoak.view-display-id-block_2 .views-field-comment-count {
    float: right;
}
div.view-display-azken-bideoa .views-field-comment-count a,
div.view-azken-bideoak.view-display-id-block_2 .views-field-comment-count a {
    color: @dark_gray;
    font-weight: bolder;
    text-decoration : none;
    font-style: italic;
}
/*
div.view-azken-bideoak.view-display-id-block_2 div.views-field-body {
    color: #979f81;
    padding-left: 1.5em;
}*/

#video_name {
    border-bottom: 2px solid @pale_gray;
}

#video_name .views-field-title {
    color: #ffffff;
    display: inline;
}

#video_name .views-field-tid {
    color: #ffffff;
    font-weight: bolder;
    display: inline;
}

#video_name .views-field-title:before {
    content: ".";
}

#video_name .views-field-created {
    color: #ffffff;
    font-weight: bolder;
    display: inline;
}
#video_name .views-field-created:before {
    content: ".";
}

/*div.pane-views-azken-bideoak-block-1 div.view-azken-bideoak.view-display-id-block_1 div.views-row {
    display: inline-block;
    padding-top: 10px;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}

div.view-azken-bideoak.view-display-id-block_1 div.views-row.selected {
    background-image: url('../img/arrow_aiaraldea_bideoak.png');
    background-repeat: no-repeat;
    background-position: top center;
}*/

/*Bideoen zerrendak */
div.view-bideoak.view-display-id-panel_pane_1 img {
    .green_boxed_image;
}

div.view-bideoak.view-display-id-panel_pane_1 table {
    width: 100%;
}

div.view-bideoak.view-display-id-panel_pane_1 td {
    width: 25%;
    padding-bottom:3em;
    vertical-align: top;
}
div.view-bideoak.view-display-id-panel_pane_1 div.views-field-field-bideo-embed{
    text-align: center;
}

div.view-bideoak.view-display-id-panel_pane_1 .views-field-tid {
    display: none;
}
div.view-bideoak.view-display-id-panel_pane_1 .views-field-title {
    margin: 0 2.5em;
    padding: 0 1em;
    .arrow_background;
}

div.view-bideoak.view-display-id-panel_pane_1 .views-field-created {
    margin: 0 2.5em;
    padding: 0 1em;
    font-weight: bolder;
}

#video_name div {
    display: inline;
}

#detail_bideo_deskarga  {
    text-align: right;
}

#detail_bideo_deskarga a {
    .rounded_border;
    padding:6px;
    color: white;
    background-color: @dark_green;
}

.most_viewed_pane h2.pane-title,
#detail_bideo_ikusienak h2.pane-title {
    background-color: white;
    margin-bottom: 6px;
    margin-top: -8px;   
}

/* bideo nodoa */

.most_viewed_pane .pane-content,
#detail_bideo_ikusienak .pane-content{
    background-color: @pale_gray;
    .rounded_border;
}
#detail_bideo_ikusienak .views-row {
    width: 162px;
    display: inline-block;
    padding: 32px;
    vertical-align:top;
}
/*
#detail_bideo_ikusienak .views-row-odd {
    border-top: solid 4px white;
    border-right: solid 2px white;
}

#detail_bideo_ikusienak .views-row-even {
    border-top: solid 4px white;
    border-left: solid 2px white;
}

#detail_bideo_ikusienak .views-row-1,
#detail_bideo_ikusienak .views-row-2 {
    border-top: none;
}*/

.most_viewed_pane img,
#detail_bideo_ikusienak img {
    .green_boxed_image;
}

.most_viewed_pane .views-field-title,
#detail_bideo_ikusienak .views-field-title {
    background-image: url('../img/arrow_aiaraldea.png');
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 14px;
    margin-top: 8px;
    color: @dark_green;
}

.most_viewed_pane .views-field-title a,
#detail_bideo_ikusienak .views-field-title a {
    color: @dark_green;
    text-decoration: none;
}
#detail_bideo_ikusienak .views-field-created {
    padding-left: 14px;
    color: @dark_green;
    font-weight: bold;
}

#detail_bideo_koadro {
    margin: 10px 0;
    padding: 10px;
    background-color:@green;
    .rounded_border;
}

#detail_bideo_bideo {
    margin-bottom:10px;
    padding: 6px;
    text-align: center;
    background-color: @pale_gray;
    .rounded_border;
}
#detail_bideo_body {
    color: @dark_green;
    padding: 12px;
}
#detail_bideo_referrers_title {
    margin-top: 12px;
    color: #cccc00;
}
#detail_bideo_referrers ul {
    border-bottom: solid 2px #cccc00;
    border-top: solid 2px #cccc00;
    margin-top: 0;
    padding: 6px 18px;
    color: @dark_green;
}
#detail_bideo_referrers a {
    text-decoration: none;
    color: @dark_green;
}


