@import "base.less"; 

#video_name {
    border-bottom: 2px solid @pale_gray;
}

#video_name .views-field-title {
    color: #ffffff;
    display: inline;
}

#video_name .views-field-tid {
    color: #ffffff;
    font-weight: bolder;
    display: inline;
}

#video_name .views-field-title:before {
    content: ".";
}

#video_name .views-field-created {
    color: #ffffff;
    font-weight: bolder;
    display: inline;
}
#video_name .views-field-created:before {
    content: ".";
}

/*Bideoen zerrendak */
div.view-bideoak.view-display-id-panel_pane_1 img {
    .green_boxed_image;
}

div.view-bideoak.view-display-id-panel_pane_1 table {
    width: 100%;
}

div.view-bideoak.view-display-id-panel_pane_1 td {
    width: 25%;
    padding-bottom:3em;
    vertical-align: top;
}
div.view-bideoak.view-display-id-panel_pane_1 div.views-field-field-bideo-embed{
    text-align: center;
}

div.view-bideoak.view-display-id-panel_pane_1 .views-field-tid {
    display: none;
}
div.view-bideoak.view-display-id-panel_pane_1 .views-field-title {
    margin: 0 2.5em;
    padding: 0 1em;
    .arrow_background;
}

div.view-bideoak.view-display-id-panel_pane_1 .views-field-created {
    margin: 0 2.5em;
    padding: 0 1em;
    font-weight: bolder;
}

#video_name div {
    display: inline;
}

#detail_bideo_deskarga  {
    text-align: right;
    color: #cccc00;
}

#detail_bideo_deskarga a {
    .rounded_border;
    padding:6px;
    color: white;
    background-color: @dark_green;
}

.most_viewed_pane h2.pane-title,
#detail_bideo_ikusienak h2.pane-title {
    background-color: white;
    margin-bottom: 6px;
    margin-top: -8px;   
}

/* bideo nodoa */
#detail_bideo_ikusienak .views-row {
    width: 162px;
    display: inline-block;
    padding: 10px 32px;
    vertical-align:top;
}

.most_viewed_pane img,
#detail_bideo_ikusienak img {
    .green_boxed_image;
}

.most_viewed_pane .views-field-title,
#detail_bideo_ikusienak .views-field-title {
    background-image: url('../img/arrow_aiaraldea.png');
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 14px;
    margin-top: 8px;
    color: @dark_green;
}

.most_viewed_pane .views-field-title a,
#detail_bideo_ikusienak .views-field-title a{
    color: @dark_green;
    text-decoration: none;
}
#detail_bideo_ikusienak .views-field-created {
    padding-left: 14px;
    color: @dark_green;
    font-weight: bold;
}
#detail_bideo_ikusienak .views-field-tid {
    padding-left: 14px;
}

#detail_bideo_bideo {
    margin:10px 0;
    text-align: center;
}
#detail_bideo_body {
    color: @dark_green;
}
#detail_bideo_referrers_title {
    margin-top: 12px;
    color: #cccc00;
}
#detail_bideo_referrers ul {
    border-bottom: solid 2px #cccc00;
    border-top: solid 2px #cccc00;
    margin-top: 0;
    padding: 6px 18px;
    color: @dark_green;
}
#detail_bideo_referrers a {
    text-decoration: none;
    color: @dark_green;
}
