@import "base.less"; 

.pane-azala-azken-iruzkinak h2,
.pane-comment-0 h2 {
    .section_title;
}


.page-main-autumn-2011 h2.pane-title,
.page-main-summer-2011 h2.pane-title,
.front h2.pane-title {
    font-size: 1em;
    margin-top: 0;
    padding-left: 1em;
    border-bottom: 2px solid @green;  
}

h2.pane-title {
    color: #2d3c01;
    border-bottom: solid 2px #2d3c01;
    padding-left: 20px;
    .arrow_background;
}