@import "base.less";
.panel-pane h1 {
    
    border-bottom: none;
}

#content-area .content {
    font-size: 1.15em;
    line-height: 1.1em;
    h3, h4 {
        font-family: @news_title_fonts;
    }
    h3 {
        border-bottom: 1px solid;
    }
    h4 {
        /*font-weight: 100;*/
        /*font-size: 1.6em;*/
        /*color: @dark_gray;*/
    }
    blockquote {
        font-family: @news_title_fonts;
        font-weight: 200;
        font-size: 1.8em;
        line-height: 1.1em;
        padding: 0 20px;
        strong {
            font-weight: normal;
        }
    }
    a {
        /*font-weight:lighter;*/
        text-decoration: underline;
        /*border-bottom: 1px solid;*/
        /*background-color: @pale_green;*/
    }
}

#detail_meta {
    margin: 0 0 10px 0;
    .herria_datak {
        background-color: @pale_gray;
        color: @dark_green;
        margin: 0 0 5px 0;
        .clear;
        .herria {
            display: block;
            float: left;
            padding: 5px;
            margin-right: 5px;
            background-color: @dark_green;
            font-weight: bold;
            a {
                color: @white;                
            }
        }
        .eguneratze_data, .sortze_data {
            display: block;
            font-size: 85%;
            float:left;
            padding: 5px;
        }
        .eguneratze_data {
            float: right;
            .label:after {
                content: ":";
            }
        }
    }
    .egilea {
        font-size: 150%;
        font-weight: bold;
        img {margin-right: 5px;}
    }
}

#detail_content {
    .irudi_nagusia {
        margin-bottom: 5px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .deskripzioa {
            color: @dark_green;
            background-color: @pale_gray;
            padding: 5px;
        }
    }
    .irudi_txikiak {
        .irudi_txikia {
            display: inline-block;
        }
        .deskripzioa {
            display: none;
        }
    }
    .etiketak {
        margin: 10px 0;
        padding: 0px !important;
        .label {
            .label;
        }
        .field-label:after {
            content: ":";
        }
    }
    .field-label {
        .label;
    }
    .field-field-erantsi .field-items {
        margin: 5px 10px;
        a {
            text-decoration: none;
        }
    }
}