@import "base.less";
#content-area .content {
    font-size: 1.15em;
    line-height: 1.1em;
    h3, h4 {
        font-family: "Exo 2";
    }
    h3 {
        border-bottom: 1px solid;
    }
    h4 {
        /*font-weight: 100;*/
        /*font-size: 1.6em;*/
        /*color: @dark_gray;*/
    }
    blockquote {
        font-family: "Exo 2";
        font-weight: 100;
        font-size: 1.6em;
        line-height: .9em;
        padding-left: 20px;
        strong {
            font-weight: normal;
        }
    }
    blockquote {
        font-family: "Exo 2";
        font-weight: 100;
        font-size: 1.2em;
        line-height: .9em;
        /*padding-left: 20px;*/
        strong {
            font-weight: normal;
        }
    }
    a {
        /*font-weight:lighter;*/
        text-decoration: underline;
        /*border-bottom: 1px solid;*/
        /*background-color: @pale_green;*/
    }
}
