@import "base.less";
 
.irratia-izenburua {
    color: @dark_green;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1em;
    font-family: @news_title_fonts;
}
.view-irratia-feeds .views-field-title-1
 {
   border-top: @brown solid 1px;
  .irratia-izenburua;
}

.view-irratia-feeds .views-row-first .views-field-title-1 {
   border-top: medium none;
}

.view-irratia-feeds .views-row
 {
padding: 10px 0px;
}

.view-irratia-feeds .view-content
 {
background-color: #E9E6E2;
padding: 12px;
}

.view-irratia-feeds .irratia-footer {
   background-color: #E9E6E2;
    clear: both;
    font-weight: bold;
    padding: 7px 8px;
    text-align: right;
    margin-top: 10px;

}

.view-irratia-feeds .irratia-footer a {
  background-image: url("../img/hurrengoa.png");
    background-position: right center;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 0 20px;
    text-decoration: none;
}

.view-irratia-feeds .irratia-footer a:hover,
.view-irratia-feeds .irratia-footer a:visited {
text-decoration: underline;
}



/*#########################*/

.view-irratia-azala {
  max-width: 300px;
  .view-content {
    background-color: @pale_gray;
    padding: 10px;
    .views-row {
      .clearfix;
       border-top: #7a6e0c solid 1px;
       margin-top:10px;
       padding-top: 4px;
    }
    .views-row.views-row-first {
       border-top: none;
    }
    .views-field-field-emanaldia-irratsaioa-nid, .views-field-title {
      display: inline;
      .irratia-izenburua;
    }
    .views-field-field-emanaldia-irratsaioa-nid {
      font-weight: bold;
    }
    .views-field-field-emanaldia-irratsaioa-nid a:after {
      content: ':';
    }
    .views-field-field-emanaldia-irudia-fid {
      margin-top: 4px;
    }
  }
}